.productContainer {
    width: 200px;
    height: 100px;
    padding: 10px;
    background-color: rgb(255, 115, 0);
    color: rgb(49, 49, 138);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 20px;
}
body{
    background-color: aquamarine;
}