@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}

body {
    background-color: #00e1ff;
    display: grid;
    place-items: center
}

.card {
    background-color: #00e1ff;
    border-radius: 50px;
    color: #000000;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #000000;
    font-size: 12px
}

.fa {
    color: #000000}